* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open sans", "san-serif";
  background: #fff;
  color: #222;
}
.to-do-container {
  background: #ececec;
  width: 70vw;
  max-width: 1170px;
  height: 900px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}
